body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
  }

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

.form-container input,
.form-container textarea,
.form-container button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.recipe-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }



